.tab-container {
  display: flex;
  flex-direction: column;
  min-width: 24em;
}

@keyframes underline {
  from {
    width: 0em;
  }
  to {
    width: 21em;
  }
}
.tab {
  background-color: transparent;
  border: none;
  text-align: left;
  padding-top: 1em;
}
.underline {
  content: "";
  background: white;
  height: 1px;
  width: 0px;
}
.tab:hover + .underline {
  animation-name: underline;
  animation-direction: normal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
