@keyframes underline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@keyframes extendTab {
  from {
    width: 35%;
  }
  to {
    width: 100%;
  }
}
.tab {
  background-color: transparent;
  border: none;
  text-align: left;
  padding-top: 1em;
}
.underline {
  content: "";
  background: white;
  height: 1px;
  width: 0px;
}
.tab:hover + .underline {
  animation-name: underline;
  animation-direction: normal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.tab:focus + .tab + .tab-container {
  animation-name: extendTab;
  animation-direction: normal;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
