[data-theme="light"] {
  --text-color: var(--jet);
  --background-color: var(--ash-gray);
  --border-color: var(--jet);
  --accent-color: var(--glaucous);
  --drop-shadow-color: var(--davys-gray);
  --link-color: var(--glaucous);
  --selected-tab-color: var(--glaucous);
}
[data-theme="dark"] {
  --text-color: var(--ash-gray);
  --background-color: var(--jet);
  --border-color: var(--ash-gray);
  --accent-color: var(--saffron);
  --drop-shadow-color: var(--saffron);
  --link-color: var(--glaucous);
  --selected-tab-color: var(--saffron);
}

@media only screen and (max-width: 768px) {
  #app-container {
    display: flex;
    flex-wrap: wrap;
  }
}

:root {
  /* Font sizes */
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.8rem;
  --font-size-xlarge: 2rem;
  --font-size-header: 2.9rem;
  /* Colors */
  --saffron: #e8c547ff;
  --jet: #30323dff;
  --davys-gray: #4d5061ff;
  --glaucous: #5c80bcff;
  --ash-gray: #cdd1c4ff;
  /* Font */
  font-family: "Source Sans 3", serif;
  font-size: var(--font-size-medium);
}
html,
body,
#root,
#app-container {
  overflow: scroll;
  height: 100%;
  margin: 0;
}
#app-container {
  display: flex;
  color: var(--text-color);
  background-color: var(--background-color);
}
#theme-toggle img {
  width: 1.2rem;
  height: auto;
  margin: 0 0.3rem;
}

header,
main,
footer {
  padding: 2rem;
}
footer {
  font-size: small;
  font-weight: lighter;
  align-self: flex-end;
  text-align: right;
}
footer b {
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  width: fit-content;
  margin: 0;
  color: var(--text-color);
  font-family: "Oswald", sans-serif;
}
h1 {
  font-size: var(--font-size-header);
  white-space: nowrap;
}
h2 {
  font-size: var(--font-size-xlarge);
  font-weight: lighter;
  color: var(--accent-color);
}
h3 {
  font-size: var(--font-size-medium);
  font-weight: lighter;
}
h4 {
  font-size: var(--font-size-large);
  font-weight: normal;
}
h5 {
  font-size: var(--font-size-large);
}
h6 {
  font-size: var(--font-size-medium);
}
a {
  color: var(--link-color);
}
u {
  font-size: large;
  text-decoration: none;
}
hr {
  border-color: var(--border-color);
}
span {
  display: flex;
  flex-wrap: wrap;
}
button {
  padding: 0;
  background-color: var(--background-color);
  border: none;
  font-weight: bold;
  font-size: var(--font-size-medium);
}
[role="tablist"] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tab {
  margin-top: 2rem;
}
.tab,
.tab * {
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
.tab:hover,
.selected-tab {
  margin-top: 2rem;
  color: var(--selected-tab-color);
  text-decoration: underline;
}
.subtitle {
  font-size: var(--font-size-small);
  font-weight: lighter;
}
.logo {
  object-fit: cover;
  margin-right: 1rem;
  clip-path: circle(farthest-side);
  width: 5em;
  height: fit-content;
}
.chip {
  padding: 3px 10px;
  margin: 0.2rem;
  background-color: var(--accent-color);
  color: var(--background-color);
  border-radius: 14px;
  font-weight: bold;
  font-size: var(--font-size-small);
}
.no-wrap {
  flex-wrap: nowrap;
}
.job-container {
  margin: 2rem 0;
}
