@media (prefers-color-scheme: dark) {
  body {
    color: var(--text-color-dark);
    background-color: var(--background-color-dark);
  }
  h1,
  h2,
  h3,
  h4 {
    color: var(--text-color-dark);
  }
  hr {
    background-color: var(--border-color-dark);
  }
  header span p {
    color: var(--text-color-dark);
  }
  button {
    color: var(--text-color-dark);
    background-color: var(--background-color-dark);
  }
  button:hover,
  button:focus,
  .selected-tab {
    border-bottom: 1px solid var(--background-color-dark);
  }
  .about-container {
    background-color: var(--background-color-dark);
  }
  .project-container {
    background-color: var(--background-color-dark);
  }
}
