[data-theme="light"] {
  --text-color: #040f0f;
  --background-color: #fcfffc;
  --border-color: #040f0f;
  --accent-color: #1b998b;
}
[data-theme="dark"] {
  --text-color: #fcfffc;
  --background-color: #040f0f;
  --border-color: #fcfffc;
  --accent-color: #1b998b;
}

html,
body,
#root,
.app-container {
  height: 100%;
  margin: 0;
}
:root {
  margin: 0;
  font-family: "Source Sans 3", serif;
}
.app-container {
  padding: 1rem;
  color: var(--text-color);
  background-color: var(--background-color);
}
h1,
h2,
h3,
h4 {
  color: var(--text-color);
  font-family: "Oswald", sans-serif;
}
hr {
  border: 0;
  margin: 0.3rem;
  clear: both;
  display: block;
  width: 100%;
  background-color: var(--border-color);
  height: 1px;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 1rem 0rem;
}
header span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h1,
header h2 {
  align-self: flex-end;
  margin-bottom: 0;
}
header h1 {
  font-size: 3rem;
}
header h2 {
  color: var(--accent-color);
  font-weight: lighter;
}

header span p {
  margin: 0;
  font-size: small;
}

/* Tabs */
button {
  color: var(--text-color);
  background-color: var(--background-color);
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
button.tab {
  height: 2rem;
}
button.tab:hover,
.selected-tab {
  color: var(--text-color);
  background-color: var(--background-color);
  height: 2rem;
  border: none;
  border-bottom: 1px solid var(--border-color);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.theme-toggle img {
  width: 1rem;
  height: auto;
  color: var(--text-color);
}

/* About page */
.about-container {
  width: fit-content;
  margin-top: 1rem;
  padding: 0rem 1rem;
  background-color: var(--background-color);
  box-shadow: gray 0px 0px 10px;
}
.about-container img,
.about-container p {
  display: inline-block;
  max-width: 20rem;
  height: auto;
  vertical-align: middle;
}
.about-container img {
  clip-path: circle();
  max-width: 5rem;
  margin-right: 1rem;
}

/* Projects */
.project-container {
  max-width: 20rem;
  margin-top: 1rem;
  padding: 0.1rem 1rem;
  background-color: var(--background-color);
  box-shadow: gray 0px 0px 10px;
}
