@property --text-color-light {
  syntax: "<color>";
  inherits: false;
  initial-value: #040f0f;
}
@property --text-color-dark {
  syntax: "<color>";
  inherits: false;
  initial-value: #fcfffc;
}
@property --background-color-light {
  syntax: "<color>";
  inherits: false;
  initial-value: #fcfffc;
}
@property --background-color-dark {
  syntax: "<color>";
  inherits: false;
  initial-value: #040f0f;
}
@property --border-color-light {
  syntax: "<color>";
  inherits: false;
  initial-value: #040f0f;
}
@property --border-color-dark {
  syntax: "<color>";
  inherits: false;
  initial-value: #fcfffc;
}
@property --accent-color-light {
  syntax: "<color>";
  inherits: false;
  initial-value: #1b998b;
}
@property --accent-color-dark {
  syntax: "<color>";
  inherits: false;
  initial-value: #fcfffc;
}
